

/* width */
.container{
    border: #555 solid;
    padding-right: 4000px;
}
.container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}