.sizer{
    width: 450px;
}


.container{
    border: #555 4px solid;
    /* padding: 70 px; */
}

h3{
    padding-bottom: 9px;
    border-bottom: #555 4px solid;
}

.text-padder{
    padding-left: 15px;
    padding-right: 15px;
}